PAYMENT_ENVIRONMENT=test

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY_TEST=
STRIPE_WEBHOOK_SECRET_TEST=
STRIPE_PUBLISHABLE_KEY_TEST=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY_TEST=

FACTURALUSA_API_TOKEN_TEST=
FACTURALUSA_BASE_URL_TEST=https://facturalusa.pt/api/v2
FACTURALUSA_FORCE_SEND_EMAIL=false

PUBLIC_SITE_URL=https://iberflag.vercel.app
